node_modules
dist
dist-ssr
*.local
.vite

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
remixed-50a1761d (1).tsx
/jars-rpf25
/jars-rpf26
/pagina.html